<div class="container">
<a href="/login.handlebars">
  <input class="buttonVoltar" id="btnProximo" type="button" value="Voltar" >
</a>
    <article id="listaMinistroArticle" class="container mt-1 mt-md-2">
      <div class="row d-flex">
        <div class="col-12 col-lg-6">
          <div class="divTituloCadastroP row position-relative">
              <div class="divButtonEscolha d-flex flex-column">
                  <h2 class="tituloCadastroPescolha text-center">Escolher</h2>
                  <h2 class="tituloCadastroEscolha text-center">Tipo de Cadastro</h2>
              </div>
          </div>
          <div class="row">
              <div class="col-10 col-md-8 mx-auto">
                <div class="d-flex justify-content-center flex-wrap">
                      <a href="/cadastroMinistro.handlebars"><button class="escolhaButton d-flex justify-content-around align-items-center mt-3 mb-2 mb-md-4">
                        <p class="escolhaTextButton">MINISTRO(A)</p>
                        <i class="bi bi-person-workspace display-6"></i>
                      </button></a>
                      <a href="/cadastroAluno.handlebars"><button class="escolhaButton d-flex justify-content-around align-items-center mt-1 mt-md-2">
                        <p class="escolhaTextButton">ALUNO(A)</p>
                        <i class="bi bi-backpack3 display-6"></i>
                      </button></a>
                </div>
              </div>
          </div>
        </div>
        <div class="col d-flex justify-content-center">
          <img id="imgEscolha" class="img-fluid d-block w-75" src="imagens/fundoEscolha.png">
        </div>
      </div>
    </article> 
</div>